/* General Styles */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #f0f2f5;
	color: #333;
	transition: background-color 0.3s, color 0.3s;
}

.container {
	text-align: center;
	background: #fff;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, box-shadow 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container h1 {
	font-size: 2.5rem;
	margin: 0 0 20px;
	color: #333;
}

.color-picker-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	margin-left: 20px;
}

#colorPicker {
	width: 320px;
	height: 320px;
}

.color-values {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}

.color-value {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	width: 100%;
	max-width: 400px;
	justify-content: center;
	margin-right: 25px;
}

.color-value label {
	flex: 1;
	font-size: 1rem;
	color: #000;
	text-align: center;
	margin-right: -20px;
}

.color-value input {
	flex: 2;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	width: 60%;
	font-size: 1rem;
	text-align: center;
	transition: border 0.3s;
}

.color-value input:focus {
	border-color: #3498db;
	outline: none;
}

.color-value button {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background-color: #3498db;
	color: #fff;
	transition: background-color 0.3s, transform 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.color-value button i {
	font-size: 1.2rem;
}

.color-value button:hover {
	background-color: #2980b9;
	transform: scale(1.1);
}

.color-value button.copied {
	background-color: #2ecc71;
	transform: scale(1);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 15px;
	z-index: 1000;
	display: flex;
	justify-content: center;
	background-color: transparent;
	transition: background-color 0.3s;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: background-color 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: transform 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #3498db;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 15px;
	display: flex;
	justify-content: center;
	background-color: transparent;
	transition: background-color 0.3s;
}

footer a {
	margin: 0 20px;
	font-size: 1.5rem;
	display: inline-block;
	color: #3498db;
	transition: color 0.3s;
}

footer a:hover {
	color: #2980b9;
}

/* Dark Theme Styles */
body.dark-theme {
	background-color: #2c3e50;
	color: #ecf0f1;
}

body.dark-theme .container {
	background: #34495e;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

body.dark-theme .container h1 {
	color: #ecf0f1;
}

body.dark-theme .color-value label {
	color: #fff;
}

body.dark-theme .color-value input {
	border: 1px solid #444;
	background-color: #2c3e50;
	color: #ecf0f1;
}

body.dark-theme .color-value button {
	background-color: #555;
}

body.dark-theme .color-value button:hover {
	background-color: #666;
}

body.dark-theme .color-value button.copied {
	background-color: #27ae60;
}

body.dark-theme footer a {
	color: #ecf0f1;
}

/* Hidden Theme Styles */
body.hidden-theme {
    background: #ff0000;
    color: #fff;
    border-radius: 0px;
}

body.hidden-theme .container {
    background: #0000FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

body.hidden-theme #mainTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: #00FF00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body.hidden-theme .color-value input {
    border: 1px solid #ccc;
    background-color: #00FF00;
    color: #333;
    border-radius: 0px;
}

body.hidden-theme .color-value button {
    background-color: #ff0000;
    color: #fff;
    border-radius: 0px;
}

body.hidden-theme .color-value button:hover {
    background-color: #000;
}

body.hidden-theme .color-value button.copied {
    background-color: #00FF00;
}

body.hidden-theme footer a {
    color: #00FF00;
}

body.hidden-theme .switch {
    background-color: #00ff00;
    border-radius: 0px;
}

body.hidden-theme .slider {
    background-color: #00ff00;
    border-radius: 0px;
}

body.hidden-theme .slider:before {
    background-color: #ff0000;
    border-radius: 0px;
}

body.hidden-theme input:checked + .slider {
    background-color: #0000FF;
}

body.hidden-theme input:checked + .slider:before {
    background-color: #00FF00;
}