body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

.container {
	text-align: center;
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
	text-align: center;
	margin-top: 1px;
	margin-bottom: 10px;
}

.color-picker-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#colorPicker {
	width: 300px;
	height: 300px;
}

.color-values {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.color-value {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.color-value label {
	margin-right: 10px;
}

.color-value input {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	width: 200px;
	text-align: center;
}

.color-value button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #3498db;
	color: white;
	transition: background-color 0.3s, transform 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.color-value button i {
	font-size: 16px;
}

.color-value button:hover {
	background-color: #2980b9;
}

.color-value button.copied {
	background-color: #2ecc71;
	transform: scale(1);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
	z-index: 1000;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 10px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

body.dark-theme .slider:before {
	background-color: #333;
}

input:checked+.slider {
	background-color: #2860ee;
}

body.dark-theme input:checked+.slider {
	background-color: #007bff;
}

input:checked+.slider:before {
	transform: translateX(26px);
}

body.dark-theme input:focus {
	border-color: #007bff;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: transparent;
}

footer a {
	margin: 0 15px;
	display: inline-block;
	font-size: 20px;
	color: #1e1f22;
}

/* Dark Theme Styles */
body.dark-theme {
    background-color: #1e1f22;
    color: #f5f5f5;
}

body.dark-theme .container {
    background: #333;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-theme .color-value input {
    border: 1px solid #555;
    background-color: #2b2b2b;
    color: #f5f5f5;
}

body.dark-theme .color-value button {
    background-color: #555;
    color: #f5f5f5;
}

body.dark-theme .color-value button:hover {
    background-color: #666;
}

body.dark-theme .color-value button.copied {
    background-color: #2ecc71;
}

body.dark-theme footer a {
    color: #f5f5f5;
}

/* Hidden Theme Styles */
body.hidden-theme {
    background: #ff0000;
    color: #fff;
    border-radius: 0px;
}

body.hidden-theme .container {
    background: #0000FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

body.hidden-theme #mainTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    color: #00FF00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body.hidden-theme .color-value input {
    border: 1px solid #ccc;
    background-color: #00FF00;
    color: #333;
    border-radius: 0px;
}

body.hidden-theme .color-value button {
    background-color: #ff0000;
    color: #fff;
    border-radius: 0px;
}

body.hidden-theme .color-value button:hover {
    background-color: #000;
}

body.hidden-theme .color-value button.copied {
    background-color: #00FF00;
}

body.hidden-theme footer a {
    color: #00FF00;
}

body.hidden-theme .switch {
    background-color: #00ff00;
    border-radius: 0px;
}

body.hidden-theme .slider {
    background-color: #00ff00;
    border-radius: 0px;
}

body.hidden-theme .slider:before {
    background-color: #ff0000;
    border-radius: 0px;
}

body.hidden-theme input:checked + .slider {
    background-color: #0000FF;
}

body.hidden-theme input:checked + .slider:before {
    background-color: #00FF00;
}